/* .beInspired{
    height: 800px;
    width: 587px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
    border-radius: 5px;
} */

.slider1 .card1{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/footwear/footwear-one.jpg"); 
}
.slider1 .card2{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/footwear/footerwear-two.jpg"); 
}
.slider1 .card3{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/footwear/footwear-three.jpg"); 
}
.slider1 .card4{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/footwear/footwear-four.jpg"); 
}


.slider2 .card1{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/waterproofs/waterproofs-one.jpg"); 
}
.slider2 .card2{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/waterproofs/waterproofs-two.jpg"); 
}
.slider2 .card3{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/waterproofs/warterproofs-three.jpg"); 
}
.slider2 .card4{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/waterproofs/waterproofs-four.jpg"); 
}
.slider2 .card5{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/waterproofs/waterproofs-five.jpg"); 
}
.slider2 .card6{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/waterproofs/waterproofs-six.jpg"); 
}



.slider3 .card1{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/base/base-one.jpg"); 
}
.slider3 .card2{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/base/base-two.jpg"); 
}
.slider3 .card3{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/base/base-three.jpg"); 
}
.slider3 .card4{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/base/base-four.jpg"); 
}
.slider3 .card5{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/base/base-five.jpg"); 
}
.slider3 .card6{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/base/base-six.jpg"); 
}
.slider3 .card7{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/base/base-seven.jpg"); 
}
.slider3 .card8{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/base/base-eight.jpg"); 
}


.slider4 .card1{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/packs/packs-one.jpg"); 
}
.slider4 .card2{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/packs/packs-two.jpg"); 
}
.slider4 .card3{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/packs/packs-three.jpg"); 
}
.slider4 .card4{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/packs/packs-four.jpg"); 
}
.slider4 .card5{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/packs/packs-five.jpg"); 
}
.slider4 .card6{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/packs/packs-six.jpg"); 
}
.slider4 .card7{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/packs/packs-seven.jpg"); 
}
.slider4 .card8{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/packs/packs-eight.jpg"); 
}
.slider4 .card9{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/packs/packs-nine.jpg"); 
}
.slider4 .card10{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/packs/packs-ten.jpg"); 
}


/* .beInspired__title{
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 40px;
    padding: 0px 47px;
    line-height: 40px;
}
.largeCentreCard{
    height: 600px;
    width: 587px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 40px;
    padding: 0px 20px;
    box-sizing: border-box;
    border-radius: 5px;
} */
/* .largeCentreCard__card1{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/women-ultra.jpg");
}
.largeCentreCard__card2{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/ultra-kit.jpg");
}
.largeCentreCard__card3{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/ultra-clothing.jpg");
}
.largeCentreCard__card4{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/men-ultra.jpg");
}
.smallerCentreCard{
    height: 352px;
    width: 352px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    border-radius: 5px;   
} */
/* .smallerCentreCard__card1{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/trail.jpg"); 
}
.smallerCentreCard__card2{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/ultra.jpg"); 
}
.smallerCentreCard__card3{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/park.jpg"); 
}
.smallerCentreCard__card4{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/ocr.jpg"); 
}
.smallerCentreCard__card5{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/orienteering.jpg"); 
}
.smallerCentreCard__card6{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/road.jpg"); 
}
.smallerCentreCard__card7{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/swimrun.jpg"); 
}
.smallerCentreCard h2{
    font-size: 37px;
} */
.productCard{
    height: 334px;
    width: 320px;
    font-size: 16px;
    border-radius: 5px;
}
.productCard__image{
    height: 249px;
    width: 320px;
    background-image: url("https://via.placeholder.com/800"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: white;
}

.productCard__title{
    padding: 20px 0px;
}
.productCard__title_withProduct{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 170px;
}
.productCard__title_withOutProduct{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100px;
}

.productCard__title h4{
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: 0;
}
.productCard__title p{
    margin-bottom: 20px;
    font-size: 14px;
}
/* .blogCard{
    width: 364px;
    height: 398px;
}
.blogCard__title{
    font-size: 22px;
    padding: 20px 0px;
}
.blogCard__title h2{
    font-size: 16px;
    font-weight: 400;
}
.blogCard__image{
    background-image: url("https://via.placeholder.com/800"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 281px;
    width: 364px;
} */

@media only screen and (max-width: 600px) and (min-width: 0px) {

    .productCard{
        width: 220px;
        height: 266px;
    }
    .productCard__image{
        height: 170px;
        width: 220px;
    }


   /*  .largeCentreCard{
        height: 280px;
        width: 220px;
        font-size: 20px;
        padding: 0px 20px;
        box-sizing: border-box;
    }
    .smallerCentreCard__card1{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/trail.jpg"); 
    }
    .smallerCentreCard__card2{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/ultra.jpg"); 
    }
    .smallerCentreCard__card3{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/park.jpg"); 
    }
    .smallerCentreCard__card4{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/ocr.jpg"); 
    }
    .smallerCentreCard__card5{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/orienteering.jpg"); 
    }
    .smallerCentreCard__card6{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/road.jpg"); 
    }
    .smallerCentreCard__card7{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/swimrun.jpg"); 
    }


    .largeCentreCard__card1{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/womens-ultra.jpg");
    }
    .largeCentreCard__card2{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/ultra-kit.jpg");
    }
    .largeCentreCard__card3{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/ultra-clothing.jpg");
    }
    .largeCentreCard__card4{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/mens-ultra.jpg");
    }
    .beInspired__card1{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/inspiration-one.jpg"); 
    }
    .beInspired__card2{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/inspiration-two.jpg"); 
    }
    .beInspired__card3{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/inspiration-three.jpg"); 
    } */
}