
  #video-compare-container {
    display: inline-block;
/*     line-height: 0; */
    position: relative;
    width: 100%;
    padding-top: 42.3%;
  }
  #video-compare-container > img {
    width: 100%;
    position: absolute;
    top: 0; 
    height: 100%;
  }
  #video-clipper {
    width: 50%; 
    position: absolute;
    top: 0; bottom: 0;
    overflow: hidden;
  }
  #video-clipper img {
    width: 200%;
    position: absolute;
    height: 100%;
    max-width: none;
  }
  .video-compare-container__content{
      position: absolute;
      top: 90px;
      left: 100px;
      z-index: 5;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width: 400px;
  }
  .video-compare-container__content p{
    color: white;
    font-size: 28px;
    line-height: 28px;
  }
  .video-compare-container__content h2{
      color: white;
      font-size: 60px;
  }
  .grapheneMobile{
    display: none;
  }

@media only screen and (max-width: 600px) and (min-width: 0px) {
    #video-compare-container {
        height: 700px;
        display: none;
    }
    .video-compare-container__content{
        position: absolute;
        top: 62px;
        left: 20px;
        width: 90%;
    }
    .video-compare-container__content p{
        font-size: 16px;
      }
      .video-compare-container__content h2{
          font-size: 40px;
      }
      .grapheneMobile{
        height: 700px;
        display: block;
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/graphene.jpg"); 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-color: white;
        position: relative;
      }
}
