.header{
    height: 800px;
    text-align: center;
    text-transform: uppercase;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.header1{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/header.jpg"); 
}
.header2{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/banners/ultra-kit-one.jpg"); 
}
.header3{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/banners/ultra-kit-two.jpg"); 
}
.header4{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/banners/ultra-kit-3.jpg"); 
}
.header5{
    background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/banners/ultra-kit-four.jpg"); 
}


.header__container{
    max-width: 55%;
    margin: auto;
}
.header h1{
    font-size: 7vw;
    color: #FFFFFF;
    margin-bottom:10px;
}
.header h2{
    font-size: 60px;
    color: #FFFFFF;
}
.header h3{
    font-size: 3vw;
    color: #FFFFFF;
}


.titleCard{
    height: 800px;
    color: white;
    background-image: url("https://via.placeholder.com/800"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

    display: flex;
 flex-direction: row;
/*    justify-content: center; */
}
.titleCard__content{
    display: flex;
    flex-direction: column;
    margin: 117px 112px;
    position: absolute;
    width: 600px;
}
.titleCard__content h2{
    font-size: 60px;
    color: white;
    line-height: 60px;
}
.titleCard__content p{
    font-size: 28px;
    line-height: 28px;
    color: white;
}
.titleCard h2{
    font-size: 60px;
}
.titleCard p{
    font-size: 28px;
}

@media only screen and (max-width: 800px) and (min-width: 601px) {

    .header h1{
        font-size: 7vw;
        letter-spacing: 0;
    }
    .header h3{
        font-size: 40px;
    }
    .header{
        max-height: 414px;
        background-image: url("https://www.inov-8.com/media/ultra-running/tablet/header.jpg"); 
    }
    .header1{
        background-image: url("https://www.inov-8.com/media/ultra-running/desktop/header.jpg"); 
    }
    .header2{
        background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/banners/ultra-kit-one.jpg"); 
    }
    .header3{
        background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/banners/ultra-kit-two.jpg"); 
    }
    .header4{
        background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/banners/ultra-kit-3.jpg"); 
    }
    .header5{
        background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/banners/ultra-kit-four.jpg"); 
    }
}


@media only screen and (max-width: 600px) and (min-width: 0px) {
    .header h1{
        font-size: 50px;
        letter-spacing: 0;
    }
    .header h3{
        font-size: 20px;
        color: #FFFFFF;
    }
 
    .header{
        max-height: 414px;
        background-image: url("https://www.inov-8.com/media/ultra-running/tablet/header.jpg"); 
    }
    .header1{
        background-image: url("https://www.inov-8.com/media/ultra-running/desktop/header.jpg"); 
    }
    .header2{
        background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/banners/ultra-kit-one.jpg"); 
    }
    .header3{
        background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/banners/ultra-kit-two.jpg"); 
    }
    .header4{
        background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/banners/ultra-kit-3.jpg"); 
    }
    .header5{
        background-image: url("https://www.inov-8.com/media/ultra-marathon-kit-list/banners/ultra-kit-four.jpg"); 
    }

    .titleCard__content h2{
        font-size: 40px;
    }
    .titleCard__content p{
        font-size: 16px;
    }
    .titleCard__content{
        margin: 90px 20px;
        position: absolute;
        width: 90%;
    }
}