.kitList{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
/*     height: 800px; */
    gap: 40px;
    margin-bottom: 100px;

}
.kitList__image{
    background-image: url("https://via.placeholder.com/800"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 800px;
}
.kitList__content{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .kitList{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 70px;
    }
    .kitList__image{
        min-height: 350px;
        margin: 0px 20px;
    }
}