
/* ########## Carousel CSS ######## */

/* .sider {
    display: grid;
    grid-template-columns: 1fr;
} */
.slider {
    padding: 40px 0px 10px 0px;
}
.slider_controls{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
}
.slider1 .slider_controls {
    height: 470px;
}
.slider2 .slider_controls {
    height: 470px;
}
.slider3 .slider_controls {
    height: 400px;
}
.slider4 .slider_controls {
    height: 400px;
}

.sider_container{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;

}
/* .innerSlider{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
     height: 100%;
    width: 200%; 
  pointer-events: none; 
    position: absolute;
    top: 0;
    left: 0;
} */

.slider1{
    margin-bottom: 100px;
    margin-left: 110px;
}
.slider2{
    margin-bottom: 100px;
    margin-left: 110px;
}
.slider3{
    margin-bottom: 100px;
    margin-left: 110px;
}
.slider4{
    margin-bottom: 0px;
    margin-left: 110px;
}
.slider1 .innerSlider{
    display: flex;
    /*  grid-template-columns: repeat(10, 1fr); */
     gap: 30px;
    /*   height: 100%;
     width: 200%;  */
   pointer-events: none; 
     position: absolute;
     top: 0;
     left: 0;
;
}
.slider2 .innerSlider{
    display: flex;
    /*  grid-template-columns: repeat(10, 1fr); */
     gap: 30px;
    /*   height: 100%;
     width: 200%;  */
   pointer-events: none; 
     position: absolute;
     top: 0;
     left: 0;
}
.slider3 .innerSlider{
    display: flex;
    /*  grid-template-columns: repeat(10, 1fr); */
     gap: 30px;
    /*   height: 100%;
     width: 200%;  */
   pointer-events: none; 
     position: absolute;
     top: 0;
     left: 0;
}
.slider4 .innerSlider{
    display: flex;
   /*  grid-template-columns: repeat(10, 1fr); */
    gap: 30px;
   /*   height: 100%;
    width: 200%;  */
  pointer-events: none; 
    position: absolute;
    top: 0;
    left: 0;
}



.innerSlider a {
  pointer-events: all; 
}

.slider1 .innerSlider a{
    text-decoration: none;
}
.slider2 .innerSlider a{
    text-decoration: none;
}
.slider3 .innerSlider a{
    text-decoration: none;
}
.slider4 .innerSlider a{
    text-decoration: none;
}
.slider_card {
    align-content: center;
   /*  display: grid; */
   /*  justify-content: center; */
}
.innerSlider img{
    max-height: 200px;
}
.slider_card_meta_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.innerSlider a{
    text-transform: uppercase;
    color: #000;
    text-decoration: underline;
}
.innerSlider_card_meta_info h3{
    text-transform: uppercase;
}
/* .leftArrow{
    justify-content: center;
    display: grid;
    align-content: center;
    font-size: 25px;
}
.rightArrow{
    justify-content: center;
    display: grid;
    align-content: center;
    font-size: 25px;
}
.fa-arrow-left{
    cursor: pointer;
}
.fa-arrow-right{
    cursor: pointer;
} */

.slider_progress{
    width: 80%;
    margin: auto;
    height: 40px;
}

.sliderProgress{
    width: 100%;
}

.progressBarBg {
    height: 4px;
    background-color: #d0d0d0;
    width: 100%;
    border-radius: 10px;
    position: relative;
}
.progressBarInner1 {
    height: 4px;
    background-color: #01ff01;
    width: 0%;
    border-radius: 10px;
    position: absolute;
    left: 0px;
}
.progressBarInner2 {
    height: 4px;
    background-color: #01ff01;
    width: 0%;
    border-radius: 10px;
}
.progressBarInner3 {
    height: 4px;
    background-color: #01ff01;
    width: 0%;
    border-radius: 10px;
}
.progressBarInner4 {
    height: 4px;
    background-color: #01ff01;
    width: 0%;
    border-radius: 10px;
}





.lineThroughText {
    text-decoration-line: line-through;
}
.feature{
    border: 1px solid #000;
    display: inline-block;
    padding: 2px 20px;
    margin-bottom: 25px;

}
.noFeature{
    height: 50px;
}
.feature span{
    text-transform: uppercase;
    font-size: 10px;
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .slider1 .slider_controls {
        height: 470px;
    }
    .slider2 .slider_controls{
        height: 470px;
    }
    .slider3 .slider_controls {
        height: 400px;
    }
    .slider4 .slider_controls {
        height: 400px;
    }
}


@media only screen and (max-width: 600px) and (min-width: 0px) {
    .slider1 .slider_controls {
        height: 420px;
    }
    .slider2 .slider_controls {
        height: 420px;
    }
    .slider3 .slider_controls {
        height: 320px;
    }
    .slider4 .slider_controls {
        height: 320px;
    }
}


@media only screen and (max-width: 800px) {
    .innerSlider {
        width: auto;
    }
    .innerSlider img{
        max-height: 160px;
    }
    
    .slider1 , .slider2, .slider3, .slider4  {
        margin-bottom: 70px;
        margin-left: 20px;
    }

}