video{
    object-fit:cover;
    top:0;
    left:0
}
.videoContainer,video{
    height:calc(100vh - 200px);
    position:relative;
    display:flex;
    max-height:800px;
    width:100%
}
.videoContainer{
    margin-bottom: 0px;
    display: flex;
}
.center{
    text-align: center;
    justify-content: center;
}
.videoContainer .shopButtons{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    max-width:316px
}
.videoContainer p{
    color:#fff
}
.videoContainer .bannerText{
    position:absolute;
    top:35%;
    left:10px;
    z-index:10;
    padding:0 0 0 90px;
    align-self:center
}

.videoContainer__container{
    max-width: 55%;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-self: center;
}
.videoContainer__container h1{
    font-size: 166px;
    color: #FFFFFF;
}
.videoContainer__container h2{
    font-size: 60px;
    color: #FFFFFF;
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .videoContainer__container{
        max-width: 100%;
    }
    .videoContainer{
        margin-bottom: 0px;
    }
    .videoContainer__container h2{
        font-size: 40px;
    }
}